@import 'mainStyles';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

h1 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    width: 1440px;
    height: 900px;
    background-color: black;
    & .price-card {
        text-align: center;
        width: 380px;
        height: 770px;
        position: relative;
        margin: auto 15px auto 0;
        overflow: hidden;
        background: #334247;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
        &__title {
            display: inline-block;
            margin: 30px auto 37px auto;
            &>span:first-child {
                display: block;
                font-weight: bold;
                font-size: 35px;
                line-height: 43px;
            }
            &>span:last-child {
                display: block;
                font-size: 20px;
                line-height: 24px;
            }
        }
        &__price {
            background-color: $blockfirst-color;
            padding: 18px 110px 19px 110px;
            text-align: center;
            &>span {
                font-weight: bold;
                font-size: 55px;
                line-height: 67px;
                text-align: center;
            }
        }
        &__description {
            width: 328px;
            text-align: center;
            margin: 39px auto 42px auto;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
        }
        &__options-list {
            list-style-type: none;
            text-align: start;
            font-family: $main-font;
            & li:nth-child(odd) {
                background: #2A3438;
            }
            & li {
                padding: 16px 0 16px 22px;
                font-size: 15px;
                line-height: 18px;
                color: #FFFFFF;
                & img {
                    margin-right: 18px;
                }
            }
        }
        &__order-btn {
            margin: 37px auto 41px auto;
            text-align: center;
            padding: 0;
            width: 155px;
            height: 40px;
            background-color: $blockfirst-color;
            border: none;
            border-radius: 20px;
            color: #FFFFFF;
            font-weight: 300;
            font-size: 15px;
            line-height: 17px;
        }
    }
    & .red {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 147px;
        height: 25px;
        background: #DC3F45;
        transform: rotate(45deg);
        right: -30px;
        top: 28px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        font-family: $main-font;
    }
    & .price-card:nth-child(2) {
        & .price-card__price {
            background-color: $blocksecond-color;
        }
        & .price-card__order-btn {
            background-color: $blocksecond-color;
        }
    }
    & .price-card:nth-child(3) {
        margin-right: auto;
        & .price-card__price {
            background-color: $blockthree-color;
        }
        & .price-card__order-btn {
            background-color: $blockthree-color;
        }
    }
    & .price-card:nth-child(1) {
        margin-left: auto;
    }
}