* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 1000px;
  background-color: black;
}
section .price-card {
  position: relative;
  margin-right: 15px;
  overflow: hidden;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
section .price-card__title_conteyner {
  margin: 30px 139px 36px 140px;
  width: 100px;
  height: 64px;
  text-align: center;
}
section .price-card__title_conteyner h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}
section .price-card__title_conteyner span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #FFFFFF;
}
section .price-card__title .conteyner2 {
  margin: 30px 108px 36px 108px;
  width: 163px;
  height: 64px;
  text-align: center;
}
section .price-card__title .conteyner2 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}
section .price-card__title .conteyner2 span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #FFFFFF;
}
section .price-card__title .conteyner3 {
  margin: 30px 108px 36px 108px;
  width: 176px;
  height: 64px;
  text-align: center;
}
section .price-card__title .conteyner3 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #FFFFFF;
}
section .price-card__title .conteyner3 span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #FFFFFF;
}
section .price-card__price {
  background-color: #5BB189;
  padding: 18px 110px 19px 110px;
}
section .price-card__price_conteyner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 67px;
}
section .price-card__price_conteyner > span {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
}
section .price-card__price_conteyner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 67px;
}
section .price-card__price_conteyner2 > span {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
}
section .price-card__price_conteyner3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 67px;
}
section .price-card__price_conteyner3 > span {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
}
section .price-card__description {
  padding: 39px 26px 42px 26px;
}
section .price-card__description_conteyner {
  width: 327px;
  height: 36px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
section .price-card__options-list {
  list-style-type: none;
}
section .price-card__options-list li:nth-child(odd) {
  background: #2A3438;
}
section .price-card__options-list li {
  padding: 16px 0 16px 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
section .price-card__options-list li img {
  margin-right: 18px;
}
section .price-card__order-btn {
  padding: 37px 113px 42px 112px;
}
section .price-card__order-btn button {
  padding: 0;
  width: 154px;
  height: 40px;
  background-color: #5BB189;
  border: none;
  border-radius: 20px;
}
section .red {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 147px;
  height: 25px;
  background: #DC3F45;
  transform: rotate(45deg);
  right: -30px;
  top: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
section .price-card:nth-child(2) .price-card__price {
  background-color: #3A6BA5;
}
section .price-card:nth-child(2) .price-card__order-btn button {
  background-color: #3A6BA5;
}
section .price-card:nth-child(3) {
  margin-right: 0;
}
section .price-card:nth-child(3) .price-card__price {
  background-color: #EC632A;
}
section .price-card:nth-child(3) .price-card__order-btn button {
  background-color: #EC632A;
}

/*# sourceMappingURL=main.css.map */
